<h1>Home page  </h1>
<form action="/books/insertbooks" method="post" class="form">
    <div class="container">
        <div class="formcontrol">
            <label for="title">Título:</label>
            <input type="text" name="title" placeholder="Digite o título">
        </div>
        <div class="formcontrol">
            <label for="pageqty">Número de Páginas:</label>
            <input type="number" name="pageqty" placeholder="Digite o número de páginas">
        </div>
        <input type="submit" value="cadastrar" class="button">
    </div>
</form>